/* block top search */
#search_block_top {
	position:absolute;
	right: 26%;
    top: 39px;
}
#search_block_top p {padding:0;}
#search_block_top #search_query_top {
	width: 99px;
	height: 20px;
	border-radius:5px 0 0 5px !important;
	color:#fff;
	border:none;
	background:#000;
	float: left;
	padding-left: 5px;
	font-family: 'Quattrocento Sans', sans-serif !important;
}

#search_block_top .button {
	border:none;
	border-radius:0;
	color:#fff;
	text-transform:uppercase;
	background:url(img/search.png);
	float: left;
	height: 20px;
	width: 20px;
}

form#searchbox{padding-top:5px}
form#searchbox label{color:#333;margin-bottom:1px}
form#searchbox input#search_query_block{
	border: 1px solid #CCCCCC;
	-webkit-border-radius:3px !important;
	-moz-border-radius:3px !important;
	border-radius:3px !important;
    height: 18px;
	margin-top:10px;
}
form#searchbox input#search_button{padding: 1px 4px;}

